@import '../../Main';

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  max-height: $header-mobile;
  padding: 0 10px;
  background: $main-color;
  box-shadow: 2px 2px 8px $main-darker;
  z-index: $highest-z-index;

  @media (min-width: $xlarge) {
    justify-content: space-around;
    max-height: $header-large;
  }

  div.toolbar {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (min-width: $xlarge) {
      width: 60%;
    }
  }

  .login {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}