@import '../../Style/Main';
.stat-form {

  &__errors {
    margin: 0;
    color: $red;
  }

  &__cars {
    .car-element.is-selected {
      background-color: $main-light;
    }
  }

  &__dates {
    display: flex;
    flex-direction: row;

    h4 {
      margin-bottom: 10px;
    }
  }

  &__actions {
    margin-top: 15px;
  }
}