@import '../../Main';
.stat-form {

  &__cars {
    .car-element.is-selected {
      background-color: $main-light;
    }
  }

  &__dates {
    display: flex;
    flex-direction: row;

    h4 {
      margin-bottom: 10px;
    }
  }


}