@import "Main";

.main-content {
  margin: 60px auto 0 auto;
  max-width: none;
  background-color: $background-color;
  padding: 20px 5px;
  min-height: 90vh;


  @media (min-width: $large) {
    margin-top: 60px;
  }

  @media (min-width: $xlarge) {
    max-width: 1200px;
  }
}

.full-width {
  width: 100%;
}

.half-width {
  width: 100%;
  margin-right: 0;

  @media (min-width: $medium) {
    width: calc((100% - 75px)/2);
    margin-right: 15px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}