@import 'Main';
@import 'Button';

.xp-form {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  input, select, textarea {
    box-sizing: border-box;
    border-radius: 5px;
    outline: none !important;
    font-size: 50px;
    padding: 15px 20px;

    @media (min-width: $large) {
      font-size: 40px;
    }
    @media (min-width: $xlarge) {
      padding: 10px 20px;
      font-size: 30px;
    }
    @media (min-width: $xxlarge) {
      padding: 5px 15px;
      font-size: 20px;
    }
  }

  input, select, textarea {
    width: 100%;
    border: 3px solid $main-color;
    background-color: $white;
    margin-right: 0;


    &.input-error {
      border: 3px solid salmon;
      box-shadow: 1px 1px 5px salmon, -1px -1px 5px salmon;
    }

    &:active, &:focus {
      border: 3px solid #408948;
      box-shadow: 1px 1px 5px #408948, -1px -1px 5px #408948;
    }

  }

  input[type=checkbox] {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }

  textarea {
    height: 200px;
  }

  label {
    font-size: 28px;
  }

  button {
    margin-right: 10px;
  }

  &__container {
    margin-bottom: 15px;

    &.form-error {
      width: 100%;
    }

    &.input-full {
      width: 100%;
      margin-right: 10px;
    }

    &.input-half {
      width: 100%;
      margin-right: 0;

      @media (min-width: $large) {
        width: calc(50% - 10px);
        margin-right: 10px;
      }
    }

    &.input-quarter {
      width: calc(50% - 10px);
      margin-right: 10px;

      @media (min-width: $large) {
        width: calc(25% - 10px);
        margin-right: 10px;
      }
    }

    .input-checkbox {
      label {
        font-size: 28px;
      }
    }
  }

  &__actions {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  /* react datepicker, please keep it bellow */
  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker-popper {
    transform: none !important;

    .react-datepicker {
      width: 70vw;
      height: 70vw;

      @media (min-width: $large) {
        width: auto;
        height: auto;
      }

      &__navigation {
        width: 40px;
        height: 40px;

        &-icon::before {
          width: 14px;
          height: 14px;
        }
      }

      &__header,
      &__month-container {
        width: 100%;
      }

      &__current-month {
        font-size: 50px;
        margin-bottom: 15px;
      }

      &__year {
        &-read-view {
          font-size: 40px;
        }
        &-option {
          font-size: 40px;
          margin-bottom: 10px;
        }
      }

      &__day-name, &__day {
        font-size: 48px;
        margin: 10px;
        padding: 10px;
        width: 2ch;
        height: 2ch;
        line-height: 1;
      }
    }
  }
}