@import '../../Style/Main';

.expenses-list {
  width: 100%;

  &__header {
    background-color: $main-color;
    color: $white;

    tr:hover {
      background-color: $main-color;
    }
  }

  th,td {
    padding: 10px 5px;
    text-align: left;

    @media (min-width: $large) {
      padding: 5px;
    }
  }
  tbody tr {

    &:nth-child(even) {
      background-color: $main-lighter;
    }

    &:hover {
      background-color: $main-light;
    }
  }

  tr {
    margin-bottom: 10px;

    @media screen and (min-width: $large) {
      margin-bottom: 0;
    }
  }

  &__detail, &__date {
    display: none;
    @media (min-width: $medium) {
      display: table-cell;
    }
  }

  &__mileage, &__notes, &__liters {
    display: none;

    @media (min-width: $large) {
      display: table-cell;
    }
  }


  /* -- small -- */
  &.exp-small {
    th,td {
      font-size: 28px;
      padding: 0;

      @media (min-width: $large) {
        font-size: 24px;
      }
      @media (min-width: $large) {
        font-size: 14px;
      }
    }
  }
}