@import '../../Style/Main';
@import '../../Style/CreateForm';

.expenses-list {
  width: 100%;
  border-spacing: 0 5px;

  &__header {
    background-color: $main-color;
    color: $white;

    tr:hover {
      background-color: $main-color;
    }
  }

  th,td {
    padding: 10px 5px;
    text-align: left;

    @media (min-width: $large) {
      padding: 5px;
    }
  }
  tbody tr {

    &:nth-child(even) {
      background-color: $main-lighter;
    }

    &:hover {
      background-color: $main-light;
    }
  }

  &__detail, &__date {
    display: none;
    @media (min-width: $medium) {
      display: table-cell;
    }
  }

  &__mileage, &__notes, &__quantity {
    display: none;

    @media (min-width: $large) {
      display: table-cell;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
      cursor: pointer;
      max-height: 24px;

       @media (min-width: $large) {
         max-height: 22px;
       }
    }

    icon-edit {

    }

    icon-delete {

    }
  }


  /* -- small -- */
  &.exp-small {
    th,td {
      font-size: 28px;
      padding: 0;

      @media (min-width: $large) {
        font-size: 24px;
      }
      @media (min-width: $large) {
        font-size: 14px;
      }
    }
  }
}